
/*@-webkit-keyframes turnTocross{
  from{
    transform: rotate(0);
    transform-origin: center;
  }
  to{
    transform: rotate(45);
    transform-origin: center;
  }
}

@keyframes turnToHam{
  from{
    transform: rotate(0);
    transform-origin: center;
  }
  to{
    transform: rotate(45);
    transform-origin: center;
  }
}*/

body{
  font-family: 'open sans';
  line-height: 3em;
  font-weight: 500;
}

.jumbotron{
  text-align: right;
  color:#fff;
  background: url('../img/backgroundDefault.jpg') no-repeat left bottom fixed;
  height:100vh;
  padding-top: 10vh;
  position: relative;
}

.jumbotron-bg{
  display: block;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1b1464;
  opacity: 0.4;
  z-index: 1;
}

.text-container{
  right:5vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
}

.logo{
  width:72px;
  display: block;
  overflow: visible;
  margin-left: 10px;
}

.nav{
  margin-left: 20px;
}
.navbar-nav > li > a {
    line-height: 72px;
    padding: 0 20px;
}

.navbar-nav > li > a:hover,.navbar-nav > li > a:focus{
  font-weight: bolder;
}
.navbar-header{
  background-color: white;
}

.navbar-toggle{
  height: 72px;
  margin: 0 10px;
  border:none;
  padding: 0 20px;
  background-color: transparent;
}

@media (max-width: 768px)
{
  .navbar-collapse{
      box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  }
}

.navbar-toggle:active,.navbar-toggle:hover{
  border-radius: 0px;
}
.navbar-default{
  background-color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: transparent;
}


#about,#contact,#work{
  padding-top: 12vh;
  /*min-height: 100vh;*/
  text-align: center;
}

#about h3,#contact h3,#work h3{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
}

#contact form{
  text-align: left;
}
.section-title{
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #888;
}

#about h3:after,#contact h3:after,#work h3:after{
  content: "";
  background-color: #aaa;
  height: 2px;
  width: 80px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.social-group{
  list-style: none;
  width: 100%;
  font-size: 2em;
}

@media (max-width:768px)
{
  .contact-group{
    /*border-top: 1px solid #aaa;*/
  }
  .social-icons{
    float: left;
  }
}

.social-icons{
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #000;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}


.social-icons a
{
  color:black;
}
.social-icons:hover a
{
  color:white;
  text-decoration: none;
}
.social-icons:hover
{
  border-color: transparent;
  background-color: black;
}
.linkedin:focus,.linkedin:hover,.linkedin:active{
  background-color: black;
}

@media screen and (min-width:769px)
{
  .contact-group{
    text-align: left;
    padding-left: 50px;
  }
  .social-group{
    margin-top: 20px;
    padding: 0;
  }
  .social-icons
  {
      margin-right: 20px;
      display: inline-block;
  }
}

 .contact-group{
  background-color:#f2f2f2;
  padding: 20px;
  font-weight:900;
}
.red{
  color:#ed1c24;
}
.work-img{
    padding:10px;
    position: relative;
}

.work-img:hover{
  background-color: black;
  border: 1px solid #eee;
  color:white;
}

.btn-default{
  background-color: #ed1c24;
  color:white;
  font-weight: bold;
  border:none;
}

.btn-default:hover,.btn-default:active,.btn-default:focus{
  background-color: #bc1b26;
  color:white;
}

footer{
  display: block;
  background-color: black;
  color: white;
  text-align: center;
}

footer p{
  margin: 0;
}
